@import 'tailwindcss';

body {
	background-image: url('/hma-bg1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #130e0e;
}
